<!-- File Name: bottom_nav.ejs | Student Name: Zachery Cardoza | Student Id: 301183433 | Oct 2nd, 2021 -->
<!-- Bottom Nav -->
<footer>
  <nav class="navbar fixed-bottom navbar-custom">
    <p class="container">&copy; Copyright 2021. Zachary Cardoza.</p>
  </nav>
</footer>