<!-- File Name: about_page_content.ejs | Student Name: Zachery Cardoza | Student Id: 301183433 | Oct 2nd, 2021 -->
<div class="content">
    <div class="row mt-4 title"><h1>About Me</h1></div>
    <div class="row mt-4 p-2"> 
      <div class="col-sm-4 pic"><img src="Assets/images/me.jpg" alt="" class="rounded"></div>
      <div class="col-sm-8">
          <p>I'm <span class="link">Zachary Cardoza.</span> I am a motivated junior software developer with a special interest in backend technologies. I am currently studying <span class="link">Game-Programming (Co-op)</span> at Centennial College. </p>
          <p>I am strong in design and integration with intuitive problem-solving skills. Experienced in <span class="link">C#</span>, <span class="link">JavaScript</span>, <span class="link">HTML</span>, <span class="link">CSS</span>, <span class="link">Java</span>, <span class="link">Swift</span> and <span class="link">NodeJs</span> Technologies. Passionate about implementing and launching new projects. Ability to translate business requirements into technical solutions. Looking to start a career as an entry-level software engineer with a reputed firm driven by technology.</p>
          </div>
      </div>
      <div class="col-12"><span class="link" style="cursor:pointer" onclick="javascript:location.href='Assets/images/Zachary_Cardoza-Resume.PDF'"><p>Resume</p></span></div>
      <div class="col-12"><p>Linkedin <span class="link" style="cursor:pointer" onclick="javascript:location.href='https://www.linkedin.com/in/zachcardoza/'">linkedin.com/in/zachcardoza/</p></span></div>
    </div>
  <br>