<!-- File Name: contact_page_content.ejs | Student Name: Zachery Cardoza | Student Id: 301183433 | Oct 2nd, 2021 -->
<div class="content">
  <div class="container-content">
    <div class="container col-md-6">
      <div class="title">How You Can Reach Me</div>
      <div><p>Phone <span class="link">(289)-892-6133</p></span></div>
      <div><p>Email <span class="link">Zachary@Cardoza.ca</p></span></div>
      <!-- onclick function to redirect to linkedin page -->
      <div><p>Linkedin <span class="link" style="cursor:pointer" onclick="javascript:location.href='https://www.linkedin.com/in/zachcardoza/'">linkedin.com/in/zachcardoza/</p></span></div>
      </div>

    <form class="form validate-form col-md-6">
      <div class="wrap-input1 validate-input" data-validate = "Name is required">
        <input class="input1" type="text" name="name" placeholder="Name">
        <span class="shadow-input1"></span>
      </div>

      <div class="wrap-input1 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
        <input class="input1" type="text" name="email" placeholder="Email">
        <span class="shadow-input1"></span>
      </div>

      <div class="wrap-input1 validate-input" data-validate = "Subject is required">
        <input class="input1" type="text" name="phone" placeholder="Phone Number">
        <span class="shadow-input1"></span>
      </div>

      <div class="wrap-input1 validate-input" data-validate = "Message is required">
        <textarea class="input1" name="message" placeholder="Message"></textarea>
        <span class="shadow-input1"></span>
      </div>

      <div class="container-form-btn btn">
        <button class="form-btn" type="button">
          Contact!
        </button>
      </div>
    </form>
  </div>
</div>
<br>