<!-- File Name: projects_page_content.ejs | Student Name: Zachery Cardoza | Student Id: 301183433 | Oct 2nd, 2021 -->
<div class="content">
  <h1 class="row mt-4 title">Projects</h1>
    <div class="row mt-4 p-2">
      <div class="col-sm-4 pic"><img src="Assets/images/micrypto.png" alt="" class="rounded"></div>
      <div class="col-sm-8">
          <h4 class="title mt-2">MiCrypto</h4>
          <p class="mt-2">MiCrypto is a chrome extension designed to allow users to track the values of cryptocurrencies. Users may enter an amount of a given cryptocurreny they wish to track and the extension dynamically totals these amounts. MiCrypto makes use of JavaScript, CSS, and HTML, as well as multiple APIs to source currency data.</p>
        </div>
      </div>
    <div class="row mt-4 p-2"> 
      <div class="col-sm-4 pic"><img src="Assets/images/geoweather.png" alt="" class="rounded"></div>
      <div class="col-sm-8">
          <h4 class="title mt-2">Geo-Weather</h4>
          <p class="mt-2">Geo-Weather is a static webpage designed for my Client-Side Web-Development Course. Visitors to the page will see a Google Map of their current location. Visitors are also able to input a city and recieve real-time weather data. Geo-Weather uses JavaScript, CSS, and HTMl with GoogleMaps and OpenWeather APIs fetchs to retrieve weather data.</p>
          </div>
      </div>
    <div class="row mt-4 p-2">
      <div class="col-sm-4 pic"><img src="Assets/images/tournamenttrackeralt.png" alt="" class="rounded"></div>
      <div class="col-sm-8">
          <h4 class="title mt-2">Tournament Manager</h4>
          <p class="mt-2">Tournament Manager is a Winforms Application designed with the C# language. Users may enter teams and players. With teams the user may create a tournament and the software will generate matchups.</p>
          </div>
      </div>
  </div>